
<!-- <% include partials/header %> -->

	<h1 style="text-align: center;">Austin, TX</h1>

	<div class="gender" style="width:150px height:150px">
		<h2>Gender in Water Industry</h2>
		<canvas id="barChart">  </canvas>
		<canvas id="donutChart"> </canvas>
	</div>

	<div class="ethnicity">
		<h2>Ethnicity in Water Industry</h2>
		<canvas id="etBarChart"> </canvas>
		<canvas id="etDonutChart"> </canvas>
	</div>

	<div class="Salaries">
		<h2>Salaries in Water Industry</h2>
		<h3 style="text-align: center;">Men</h3>
		<canvas id="salBarChart"> </canvas>
		<h3 style="text-align: center;">Women</h3>
		<canvas id="salWoBarChart"> </canvas>
	</div>


<!-- <% include partials/footer %> -->