
	<h1 class='text-center'><%= city %></h1>
	<div class='row text-center'>
		<div class='col col-6 gender'>
			<h2>Gender <%= roles %></h2>
			<canvas id="barChart" class='mb-5'>  </canvas>
			
			<canvas id="donutChart"> </canvas>
			<button class='btn btn-primary'>Compare</button>
		</div>
		<div class='col col-6 ethnicity'>
			<h2>Ethnicity <%= roles %></h2>
			<canvas id="etBarChart" class='mb-5'> </canvas>
			<canvas id="etDonutChart"> </canvas>			
			<button class='btn btn-primary'>Compare</button>
		</div>
	</div>
	<div class='row text-center'>
		<div class='col col-6 Salaries offset-3'>
			<h2>Salaries <%= roles %></h2>
			<h3>Men</h3>
			<canvas id="salBarChart" class='mb-5'> </canvas>
			<h3>Women</h3>
			<canvas id="salWoBarChart"> </canvas>			
			<button class='btn btn-primary'>Compare</button>
		</div>
	</div>
