<% console.log(message) %>
<% console.log(error.status) %>
<% console.log(error.stack) %>
<% include partials/header %>

<h2>Page Not found</h2>
<pre><a href="/">Return home</a></pre>
<% include partials/footer %>
