
<% include partials/header %>
	<content class='text-center'>
		<header>
			<div class='row'>
				<div class='col col-4 offset-4 my-3'>
					<img src='images/diversityGov.png' alt='Diversity.gov logo' width=150px height=150px>
				</div>
			</div>
			<div class='row'>
				<div class='col col-6 offset-3'>
					<h1 class='text-uppercase my-3'>Diversity.gov</h1>
				</div>
			</div>
			<div class='row'>
				<div class='col col-4 offset-4'>
					<p>Diversity.gov is a platform that presents complex government employee demographics in a simple and digestable manner. We help government job seekers who value diversity and inclusion make a more informed decision when applying for government employment.</p>
				</div>
			</div>
			<div class='row'>
				<div class='col col-4 offset-4'>
					<label>Enter a location (State, City, or County)</label>
				</div>
				<div class='col col-4 offset-4'>
					<form id='searchMain' action="/" method="post">
						<!-- <input type='text' name='searchMain' class='form-control fa' placeholder='&#xf002; Enter a location (State, City, or County)' onfocus="this.value=''" onfocusout="this.value=''"> -->
						<div>
							<input type='text' class='btn search-main text-left'>
							<input type='submit' class='btn btn-light search-main' value='Search'>
						</div>
					</form>
				</div>
			</div>
		</header>
	</content>
<% include partials/footer %>