body {
    position: absolute;
    top: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

body, html {
    height: 100%;
    /*overflow: hidden;*/
    /*overflow: auto;*/
}

/*Disabled click-to-expand search box animation*/
/*input[type=text] {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 30px;
    background-color: white;
    padding: 12px 20px;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
input[type=text]:focus {
    width: 80%;
}*/

h1 {
	font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 52px;
}

.search-main {
    border: solid 1px;
    border-color: black;
}

aside {
    position: absolute;
    /*left: 0;*/
    /*height: 500px;*/
    /*width: 360px;*/
}

article {
    position: absolute;
    /*right: 0;*/
    /*bottom: 0;*/
    /*height: 100%;*/
    /*overflow: auto;*/
}