body {
    position: absolute;
    top: 3em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

input[type=text] {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 30px;
    background-color: white;
    padding: 12px 20px;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

h1 {
	font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 52px;
}